{% extends "MKAdminBundle::pagelayout.html.twig" %}

{% block contentHeader %}
    <section class="content-header">
    <h1>
        {{ "Product Category"|trans({}, "admin_messages", "MKAdminBundle") }}
        <small>{{ "Delete product category"|trans({}, "admin_messages", "MKAdminBundle") }}</small>
    </h1>
</section>
{% endblock %}

{% block content %}
    {{ "category.form.delete.confirm"|trans({}, 'admin_messages', 'MKAdminBundle') }}
    <form action="{{ path('mk_admin_category_delete', {'categoryId': category.id}) }}" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}

