{% extends "MKAdminBundle::pagelayout.html.twig" %}
	
{% form_theme form _self %}
{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}

{% block contentHeader %}
    <section class="content-header">
    <h1>
        {{ "Product"|trans({}, 'admin_messages', 'MKAdminBundle') }}
        <small>{{ titleBreadcum }}</small>
    </h1>

</section>
{% endblock %}


{% block content %}
    <form action="{{ formAction }}" method="post" enctype="multipart/form-data">
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}

